body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #212121;

  --color-background:#22272b;
  --color-on-background:#fff;
  --color-layer-transparent:rgba(0,5,11,0.9);
  --color-surface:#2c343a;
  --color-primary:#67c2e4;
  --color-on-primary:#fff;
  --color-on-surface: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
